  <div class ="row">

          <div class="col-xl-12">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>{{'Username' | translate }}</th>
                    <th>{{ 'Name' | translate }}</th>
                    <th>{{ 'Email' | translate }}</th>
                    <th>{{ 'Language' | translate }}</th>
                    <th> {{ 'Role' | translate }}</th>
                    <th> {{ 'isAdmin' | translate }}</th>    
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let user of (userState | async).users; let i = index">
                    <td>{{user.username}}</td>
                    <td>{{user.first_name + ' ' + user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.language}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.isAdmin}}</td>
                    <td>
                      <div class = "button-bar">
                        <button class="btn btn-primary btn-sm" (click)="onEditUser(user)" >
                            <span class="fa  fa-edit" ></span>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="onDeleteUser(user)"  >
                            <span class="fa fa-trash"></span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div *ngIf="!(userState | async).users.length">
              No Records Found
          </div>

    </div>
