<div class="modal-header">
    <h4 class="modal-title">{{ 'Confirmation Required' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('No')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'Confirm User Deletion' | translate:fullname }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Yes')">{{ 'Yes' | translate }}</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('No')">{{ 'No' | translate }}</button>
  </div>