<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <h1>Exercises</h1>
                    <button (click)="capture()">Capture</button>
                    <div class="webcam">
                        <!--<app-webcam [options]="options" [onSuccess]="onSuccess" [onError]="onError"></app-webcam>-->
                        <app-webfeed>
                        </app-webfeed>
                    </div>
                    <div>
                        <canvas id="feed"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
</div>
