<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
           <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img src="assets/images/logo.png" width="150px" class="user-avatar" />
                </div>
                <div class="col-md-4"></div>
          </div>
          <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                        <h1 style="text-align: center;">Miroir Facial</h1>
                </div>
                <div class="col-md-3"></div>              
            
          </div>
          <div class="row">
             
            
          </div>
          <!--<form role="form">-->
          <form (ngSubmit)="onSignin(f)" #f="ngForm">
            
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" id="username" name="username" ngModel class="form-control input-underline input-lg" placeholder="Username">
                  </div>

                  <div class="form-group">
                      <input type="password" id="password" name="password" ngModel class="form-control input-underline input-lg" placeholder="Password">
                  </div>
              </div>
              <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onSignin(f)"> Log in </a>-->
              <button class="btn rounded-btn btn-success" type="submit" [disabled]="!f.valid">Connectez-vous</button>              
          </form>
      </div>
  </div>
</div>


